<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--
            Create a new result instance even if the row is an empty row
            https://github.com/mybatis/mybatis-3/pull/800
        -->
        <setting name="returnInstanceForEmptyRow" value="true" />
    </settings>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="org.guard_jiang.Role"/>
        <typeHandler handler="org.guard_jiang.storage.InstantTypeHandler" javaType="java.time.Instant"/>
        <typeHandler handler="org.guard_jiang.storage.ChatStatusTypeHandler" javaType="org.guard_jiang.chat.ChatStatus"/>
        <typeHandler handler="org.guard_jiang.storage.StorageEnvTypeHandler" javaType="org.guard_jiang.storage.StorageEnv"/>
        <typeHandler handler="org.guard_jiang.storage.MemberTypeTypeHandler" javaType="org.guard_jiang.chat.ChatEnvType"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="org.guard_jiang.storage.SQLiteDataSourceFactory">
            <!--<dataSource type="POOLED">-->
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:guard_jiang.sqlite"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="SqlStorageMapper.xml"/>
    </mappers>
</configuration>
